<h1>Notes</h1>

<%- @notes.each do |note| -%>
  <h2><%= h note.header %></h2>
  <%- if tweet = note.tweets.first -%>
  <strong>by: <%= link_to_twitter(tweet.user.name) %></strong>
  <%- end -%>
  <%- unless note.url.blank? -%>
    <p>link: <%= link_to note.url, note.url %></p>
  <%- end -%>
  <%#- note.tweet.children.each do |tweet| -%>
    <p><%#= message(tweet.message) %></p>
  <%#- end -%>
<%- end -%>

<h1>Open Notes</h1>

<%- @open_notes.each do |note| -%>
  <h2><%= h note.header %></h2>
  <%- if tweet = note.tweets.first -%>
  <strong>by: <%= link_to_twitter(tweet.user.name) %></strong>
  <%- end -%>
  <%- unless note.url.blank? -%>
    <p>link: <%= link_to note.url, note.url %></p>
  <%- end -%>
<%- end -%>

